{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Photographery</title>
  <meta content="" name="title">
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/icofont/icofont.min.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/venobox/venobox.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
  <link href="{% static 'css/style.css'%}" rel="stylesheet">


  <!-- Main CSS File -->
  <!-- <link href="assets/" rel="stylesheet"> -->
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center mx-4 p-0 justify-content-between">

      <h1 class="logo mr-auto"><a href="">Photographery</a></h1>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="">Home</a></li>
          <li><a href="#our-work">Our Work</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="admin">Dashboard</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="login" class="btn">Login</a>
          </li>
          <li><a href="signup" class="btn">Sign Up</a>
          </li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h3>Welcome to <strong>Photographery</strong></h3>
      <h1>We're Best Photographers</h1>
      <h2>Since 2020 - Based Out of Lahore, Pakistan</h2>
      <a href="#about" class="btn-get-started scrollto">About Us</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Our Work Section ======= -->
    <section id="our-work" class="our-work">
      <div class="container">
        <div class="section-title">
          <h2>Our Work</h2>
          <h3>We Give Our Best in <wbr><span>Our Work</span></h3>
          <p>As one of the best photographer teams, we pride ourselves of having covered
            a plethora of celebrity and high-end events all and around the city!
          </p>
        </div>
        <div class="card-view d-flex justify-content-center align-items-center">
          <div class="card-main">
            <div class="card card-1">
              <h4 class="title"><a href="https://www.lipsum.com/">Best Photographer Award </a></h4>
              <p class="description">In 2021, just after one year of service, our organization received the
                Best Photographer Award by the Pakistan Photographer Association for our coverage of MC Style Awards!</p>
                <p></p>
                <img src="{% static 'img/work/awards-1.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="card card-2">
              <h4 class="title"><a href="">Celebrity Photoshoots</a></h4>
              <p class="description"> The Photographery Team has worked with several notable celebrities in Pakistan. We are official
              photographers for DAWN magazine, the most popular magazine of the country!</p>
              <p></p>
              <img src="{% static 'img/work/photoshoot-1.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="card card-3">
              <h4 class="title"><a href="">Destination Weddings</a></h4>
              <p class="description"> Who says Pakistan isn't perfect for a destination wedding? We have organized and
              covered several beautiful events around the country and each one has been more spectacular than the one before!</p>
              <p></p>
              <img src="{% static 'img/work/wedding-2.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="card card-4">
              <h4 class="title"><a href="">Biggest wedding of the year</a></h4>
              <p class="description">Sarah Beig is arguably one of the most famous celebrities in Pakistan and Photographery
                had the honor to be there at the event. Needless to say, it was a success!</p>
                <p></p>
                <img src="{% static 'img/work/wedding-1.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <h3>Learn More <span>About Us</span></h3>
          <p>Photographery was started with a vision and aspiration to make the photography scene in Pakistan more creative and diverse.</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              We may be relatively new, but we achieved a lot thus far. With an impressive portfolio, we strive to provide the best for our clients.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> We donate to charities on behalf of our clients.</li>
              <li><i class="ri-check-double-line"></i> We are affiliated with the best designers and celebrities</li>
              <li><i class="ri-check-double-line"></i> Our team comprises of experts in their respective feilds</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Located in the heart of Lahore, Photographery is one of the leading studios of Pakistan specializing in wedding photography and cinematography.
              Every day, the photographery crew demonstrates their creativity by working all around Pakistan, and we would be happy to record your memories in the most beautiful and unique way we know.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <h3>We Offer Awesome <span>Services</span></h3>
          <p>We offer some of the best and more affordable photography packages within the city!</p>
        </div>

        <div class="services-card d-flex justify-content-center align-items-center">
          <div class="services-main">
            <div class="icon-box">
              <h4 class="title"><a href="">Portraits</a></h4>
              <p class="description">Portraits include self portraits and studio photography. We often include complimentary services in this package</p>
            </div>


            <div class="icon-box">
              <h4 class="title"><a href="">Wedding Photography</a></h4>
              <p class="description">We are one of the most sought after wedding photographers in the city.</p>
            </div>


            <div class="icon-box">
              <h4 class="title"><a href="">Modelling / Fashion</a></h4>
              <p class="description">We are experts in fashion photoshoots and work with Diva Magazine, the most famous magazine of Pakistan!</p>
            </div>


            <div class="icon-box">
              <h4 class="title"><a href="">Formal Events</a></h4>
              <p class="description">Birthdays, anniversaries, celebrations, you name it, we'll cover it!</p>
            </div>


            <div class="icon-box">
              <h4 class="title"><a href="">Tourism</a></h4>
              <p class="description">Our overseas clients often request this service when they visit Pakistan and we are happy to accompany you to your tourist destinations</p>
            </div>

            <div class="icon-box">
              <h4 class="title"><a href="">Portfolio</a></h4>
              <p class="description">Are you an art student looking for some guidance? We are here to help!</p>
            </div>
          </div>


        </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <h3>Check out our <span>Portfolio</span></h3>
          <p>Here at Photographery, we pride ourselves to have covered a variety of
            professional events all around the city of Lahore!</p>
        </div>
        <div class="row">

          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*"  onclick="showAll();" >All</li>
              <li data-filter=".filter-wedding"  onclick="showWedding();">Weddings</li>
              <li data-filter=".filter-fashion" onclick="showFashion();">Fashion</li>
              <li data-filter=".filter-event" onclick="showEvents();">Events</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="images wedding col-lg-4 col-md-6 portfolio-item filter-wedding">
            <img src="{% static 'img/portfolio/wedding-1.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Weddings</h4>
              <p>23/04/2020</p>
              <a href="{% static 'img/portfolio/wedding-1.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link"
                title="wedding"><i class="bx bx-plus"></i></a>
              <a href="" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 wedding images col-md-6 portfolio-item filter-wedding">
            <img src="{% static 'img/portfolio/wedding-2.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Weddings</h4>
              <p>19/06/2021</p>
              <a href="{% static 'img/portfolio/wedding-2.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link"
                title="wedding"><i class="bx bx-plus"></i></a>
              <a href="" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 wedding images portfolio-item filter-wedding">
            <img src="{% static 'img/portfolio/wedding-3.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Weddings</h4>
              <p>01/01/2022</p>
              <a href="{% static 'img/portfolio/wedding-3.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link"
                title="wedding"><i class="bx bx-plus"></i></a>
              <a href="" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 images fashion portfolio-item filter-fashion">
            <img src="{% static 'img/portfolio/portrait-1.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Mahira</h4>
              <p>20/2/2020</p>
              <a href="{% static 'img/portfolio/portrait-1.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link"
                title="Mahira"><i class="bx bx-plus"></i></a>
                <a href="" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 images fashion portfolio-item filter-fashion">
            <img src="{% static 'img/portfolio/portrait-2.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Maya</h4>
              <p>14/05/2021</p>
              <a href="{% static 'img/portfolio/portrait-2.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link"
                title="Maya"><i class="bx bx-plus"></i></a>
              <a href="" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 images fashion portfolio-item filter-fashion">
            <img src="{% static 'img/portfolio/portrait-3.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Junaid</h4>
              <p>15/09/2021</p>
              <a href="{% static 'img/portfolio/portrait-3.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link"
                title="Junaid"><i class="bx bx-plus"></i></a>
              <a href="" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 images events portfolio-item filter-event">
            <img src="{% static 'img/portfolio/event-1.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Events</h4>
              <p>23/03/2020</p>
              <a href="{% static 'img/portfolio/event-1.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link"
                title="Event"><i class="bx bx-plus"></i></a>
              <a href="" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 images events portfolio-item filter-event">
            <img src="{% static 'img/portfolio/event-2.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Events</h4>
              <p>28/10/2021</p>
              <a href="{% static 'img/portfolio/event-2.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link"
                title="Event 2"><i class="bx bx-plus"></i></a>
              <a href="" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 images events portfolio-item filter-event">
            <img src="{% static 'img/portfolio/event-3.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Events</h4>
              <p>12/11/2020</p>
              <a href="{% static 'img/portfolio/event-3.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link"
                title="Event 3"><i class="bx bx-plus"></i></a>
              <a href="" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>Team</h2>
          <h3>Our Hardworking <span>Team</span></h3>
          <p>We have the best photographer team in the city!</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'img/team/team-1.jpg' %}  " class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ali Arif</h4>
                <span>Cheif Photographer - Weddings</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'img/team/team-2.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Mayra Akif</h4>
                <span>Fashion Photographer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'img/team/team-3.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Azib Zafar</h4>
                <span>Event Photographer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'img/team/team-4.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ayleen Sami</h4>
                <span>Portrait Photographer</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <h3>Contact <span>Us</span></h3>
          <p>We love to hear from our clients so if you have any questions or querries regarding our work,
            please leave us a message here!</p>
            <p></p>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5160.5053888583325!2d74.38124654522086!3d31.468501367180313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3919066d4e3db1f1%3A0xa84007b368e94d99!2sGold%20Crest%20Grand%20Mall%20and%20Residency!5e0!3m2!1sen!2shu!4v1641212398183!5m2!1sen!2shu"
            frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>F98J Gold Crest Mall and Residency</p>
                <p>Lahore, PK 54792</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>anooshasajid12@gmail.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+92 322 8426508</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="/" method="post" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                    data-rule="minlen:4" data-msg="Please enter at least 4 characters" required />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                    data-rule="email" data-msg="Please enter a valid email" required/>
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                  data-rule="minlen:4" data-msg="Please enter at least 8 characters of subject" required />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required"
                  data-msg="Please write something for us" placeholder="Message" required></textarea>
                <div class="validate"></div>
              </div>

              {% for message in messages %}
              &nbsp;
              <div class="alert alert-success">
                <a class="close" href="#" data-dismiss="alert">×</a>
                {{ message }}
              </div>
              {% endfor %}

              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Photographery</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://www.facebook.com/anoosha.sajid/" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/anoosha.sajid/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/anooshasajid_/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="skype:anooshasajid12?chat" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="https://www.linkedin.com/in/anoosha-sajid-2020/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

  <!-- Vendor JS Files -->
  <div class="All-Js-Files-And-Scripts-Links">
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  </div>

  <script>

    function showAll()
    {
      console.log('asdasd');
      let images = document.querySelectorAll('.images');
      images.forEach((img) => {
        img.style.display = 'block';
      });
    }

    function showWedding()
    {
      let images = document.querySelectorAll('.images');
      images.forEach((img) => {
        img.style.display = 'none';
      });

      let wedding = document.querySelectorAll('.wedding');
      wedding.forEach((img) => {
        img.style.display = 'block';
      });
    }

    function showFashion()
    {
      let images = document.querySelectorAll('.images');
      images.forEach((img) => {
        img.style.display = 'none';
      });

      let fashion = document.querySelectorAll('.fashion');
      fashion.forEach((img) => {
        img.style.display = 'block';
      });
    }

    function showEvents()
    {
      let images = document.querySelectorAll('.images');
      images.forEach((img) => {
        img.style.display = 'none';
      });

      let event = document.querySelectorAll('.events');
      event.forEach((img) => {
        img.style.display = 'block';
      });
    }



  </script>
  <!-- Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
